.header-bg {
  background-image: url(../../assets/headerBg.jpg);
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: auto;
  width: 100vw;
  overflow: hidden;
}
@media (min-width: 1700px) {
  /* #temp {
    display: none;
  } */
  .header-bg {
    /* height: 0; */
    /* background-attachment: fixed; */
    /* display: none; */
    /* height: 0vh; */
    /* background-attachment: unset;
  */
  }
  .header-bg {
    height: inherit;
    padding: 5rem 0;
  }
  .header-content-img {
    top: 0;
    bottom: 100%;
  }
}

.header-content-img::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #f5f5f5;
  top: 15%;
  border-radius: 5rem 5rem 0.5rem 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1000;
}

/* @media (min-width: 1700px) {
  #temp {
    min-height: 20rem;
  }
} */
